{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}My Base Template{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/default.css" %}'>
</head>

<body>

<div id="page">
	
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="/articles/all">Articles</a></li>
			<li><a href="/admin/">Admin</a></li>
			<li><a href="/accounts/login">Log In</a></li>
			<li><a href="/accounts/register">Register</a></li>
			<li><a href="/articles/create">Create Article</a></li>
		</ul>
		{% endblock %}
	</div>
	
	<div id="content">
		{% block content %}
		Content
		{% endblock %}
	</div>
	
</div>
	
</body>
</html>