{% extends "base.html" %}

{% block title %}All Articles{% endblock %}

{% block sidebar %}

<ul>
	<li><a href="/articles/all">Articles</a></li>
	<li><a href="/admin/">Admin</a></li>
	<li><a href="/accounts/login">Log In</a></li>
	<li><a href="/accounts/register">Register</a></li>
	<li><a href="/articles/create">Create Article</a></li>
</ul>
<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>

{% endblock %}

{% block content %}

{% if articles.count > 0 %}

<h1>Articles</h1>
{% for article in articles %}
<div>
<h2><a href="/articles/get/{{ article.id }}/">{{ article.title }}</a></h2>
<p>{{ article.body|truncatewords:"10" }}</p>
<p>{{ article.likes }} liked this article</p>
</div>
{% endfor %}

{% else %}

<p>No articles exist yet</p>

{% endif %}

{% endblock %}
